@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
  --clr-pri: #150e36;
  --clr-pri2: #1a1144;
  --clr-sec: #f7c70b;
  --font-pri: "Open Sans", sans-serif;
  --font-sec: "Oswald", sans-serif;
}
input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
.cs-game {
  background-color: var(--clr-pri2);
  padding: 16px 0px;
}
.cs-game .heading-one {
  font-size: 42px;
  font-weight: 400;
}
.more-game-page {
  display: flex;
  gap: 5px;
  margin-top: 8px;
}
.btn--more-game::before {
  content: none;
}
.more-game {
  background-color: var(--clr-pri);
  border-radius: 3px;
  color: #8b8b8b;
  font-weight: 400;
  padding: 4px 14px;
  max-height: 24px;
  font-size: 12px;
  font-family: var(--font-pri);
  text-align: center;
}
.slide-arrow {
  border-radius: 3px;
  background-color: var(--clr-pri);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  cursor: pointer;
}
.game-container {
  background-color: var(--clr-pri);
  padding: 45px 0px;
}
.input-block {
  position: relative;
}
.input-block .search-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  max-width: 20px;
}
.input-block input::placeholder {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-pri);
  line-height: 1;
}
.input-block input {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-pri);
  padding: 14px 16px 14px 46px;
  background-color: #1a1144;
  border-radius: 5px;
  border: 1px solid #02437e;
  transition: 0.3s ease;
}
.input-block input:focus {
  box-shadow: 0 0 8px rgba(90, 63, 255, 0.7);
}
.game-container .tabs {
  gap: 11px;
}
.game-container .tabs li {
  flex: 0 0 auto;
}
.game-container .tab {
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 5px;
  border: 1px solid currentColor;
  color: #f7c70b;
  font-size: 14px;
  padding: 8px 10px;
  position: relative;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.game-container .tab:hover {
  color: #000;
  background-color: rgba(255, 255, 0, 0.5);
}
.game-container .tab.active {
  background-color: #f7c70b;
  color: #000;
}
.game-container .tab img {
  width: 100%;
  max-width: 20px;
  transition: 0.4s ease;
}
.game-container .tab:hover img {
  filter: grayscale(1) brightness(0) contrast(1.2);
}
.heading-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.heading-3 {
  color: #f7c70b;
}
.heading-box span {
  color: #fff;
}
.main-game-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.tabs-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.slide-cards {
  overflow: hidden;
  margin-left: -10px;
  padding-left: 10px;
}
.tab-items {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.play-count p {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3;
  padding-left: 18px;
}
.play-count p span {
  color: #8b8b8b;
}
.card-image-box {
  position: relative;
  display: flex;
  /* aspect-ratio: 0.81111111111; */
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  padding-bottom: calc(100% / 0.81);
}
/* .card-image-box::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / 0.81111111111); 
} */
.card-image-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.4s ease;
}
/* .card-image-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
    transition: 0.4s ease;
} */
.card-image-box:hover img {
  transform: translateY(-10px);
}
.card-image-box::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 39.55%, #000000 100%);
  z-index: 1;
  border-radius: 8px;
}
.card-image-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-title {
  position: absolute;
  left: 50%;
  bottom: 18px;
  transform: translateX(-50%);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  z-index: 2;
  width: 100%;
  line-height: 1.2;
  padding: 0px 9px;
}
.play-count {
  position: relative;
  margin-top: 10px;
}
.play-count::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #45ff58;
  box-shadow: 0px 0px 10px #39ff4e;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.providers {
  background-color: #1a1144;
  padding: 58px 0px 35px;
}
.main-providers {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.providers-wrapper {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}
.provider-list {
  flex: 0 0 auto;
}
.provider-list a {
  padding: 0px 30px;
  border-radius: 8px;
  background-color: #150e36;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}
/* promotions */
.promotions {
  background-color: #150e36;
  padding: 26px 0px 89px 0px;
}
.main-promotions {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.promotions-card {
  border-radius: 20px;
  display: inline-flex;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  flex: 1;
}
.heading-4 {
  color: #150e36;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}
.text p {
  color: #110b2d;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
.text p span {
  font-weight: 700;
}
.pro-card-content {
  background-color: #fff;
  padding: 20px 20px 20px 19px;
  display: flex;
  flex-direction: column;
}
.pro-img-box {
  flex: 0 0 184px;
  position: relative;
  width: 100%;
}
.pro-img-text {
  position: absolute;
  left: 15px;
  bottom: 18px;
  display: flex;
  align-items: flex-end;
  gap: 12px;
}
.pro-img-text p {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
}
.pro-img-text h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  font-family: var(--font-sec);
  line-height: 1;
  position: relative;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  letter-spacing: -2px;
}
.pro-img-text h2::after {
  content: " %";
  position: absolute;
  color: #110b2d;
  font-size: 16px;
  font-family: var(--font-sec);
  background-color: #f7c70b;
  border: 2px solid #000000;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: -10px;
  padding: 4px;
  z-index: 99;
}
.pro-img-box img {
  width: 100%;
  height: 100%;
}
.heading-5 {
  color: #150e36;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-sec);
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  padding-right: 14px;
  line-height: 1;
  width: max-content;
  cursor: pointer;
}
.heading-5::after {
  content: "";
  position: absolute;
  right: 0;
  top: 7px;
  transform: translate(-50%, -50%) rotate(320deg);
  width: 4px;
  height: 4px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transition: 0.4s ease;
}
.heading-5:hover::after {
  transform: translate(-50%, -50%) translateX(3px) rotate(320deg);
}
.text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 14px;
  flex: 1;
}
.promotions-cards {
  overflow: hidden;
}
.promotions-cards .owl-item {
  display: flex;
}
.owl-stage {
  display: flex;
}
.play-slots {
  background-color: #f7c70b;
  padding: 33px 0px;
  position: relative;
}
.play-slots::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 146px;
  background: linear-gradient(180deg, rgba(247, 199, 11, 0) 0%, #f7c70b 100%);
  left: 0;
  bottom: 0;
}
.active.play-slots::after {
  display: none;
}
.play-slots .heading-one {
  font-size: 42px;
  color: #150e36;
  font-weight: 400;
  text-transform: uppercase;
}
.slots-content {
  margin-top: 15px;
  column-count: 2;
  position: relative;
  overflow: hidden;
  height: 100%;
  max-height: 240px;
  gap: 60px;
  transition: max-height 0.3s ease;
}
.play-slots.active .slots-content {
  max-height: 100%;
  padding-bottom: 25px;
}
.slots-content p {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
}
.slots-content p + p {
  margin-top: 20px;
}
.play-slots .btn-block {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 99;
  bottom: 6px;
}
.btn-block.active {
  bottom: 0px;
}
.show-text {
  color: #110b2d;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--font-sec);
  padding-right: 20px;
}
.show-text::after {
  content: "";
  position: absolute;
  right: 0;
  top: 4px;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transition: transform 0.3s ease, top 0.3s ease;
}
.active.play-slots .show-text::after {
  transform: rotate(226deg);
  top: 9px;
}
.provider-list img {
  height: 100%;
  max-height: 32px;
}
.heading-left img {
  max-width: 30px;
}
.promotions .owl-dots {
  display: none;
}
.tabs-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-slots {
  position: relative;
}
@media screen and (max-width: 1400px) {
  .cs-game .heading-one,
  .play-slots .heading-one {
    font-size: 38px;
  }
  .providers {
    padding: 50px 0px 35px;
  }
  .provider-list img {
    max-height: 28px;
  }
  .pro-card-content {
    padding: 20px 15px;
  }
  .heading-4 {
    font-size: 12px;
  }
  .promotions {
    padding: 25px 0px 60px;
  }
  .slots-content {
    gap: 45px;
  }
  .owl-dots {
    display: block;
  }
}
@media screen and (max-width: 1250px) {
  .cs-game .heading-one,
  .play-slots .heading-one {
    font-size: 35px;
  }
  .game-container {
    padding: 35px 0px;
  }
  .tabs-page {
    gap: 35px;
  }
  .providers {
    padding: 40px 0px 35px;
  }
  .provider-list a {
    min-height: 60px;
  }
  .provider-list img {
    max-height: 25px;
  }
  .promotions {
    padding: 25px 0px 30px;
  }
  .main-promotions {
    gap: 30px;
  }
  .slots-content {
    gap: 30px;
  }
  .promotions .owl-dots {
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  .cs-game .heading-one,
  .play-slots .heading-one {
    font-size: 32px;
  }
  .input-block input {
    padding: 10px 16px 10px 40px;
  }
  .input-block .search-icon {
    max-width: 16px;
  }
  .game-container .tab img {
    max-width: 16px;
  }
  .heading-left img {
    max-width: 25px;
  }
  .main-game-container {
    gap: 30px;
  }
  .providers {
    padding: 30px 0px;
  }
}
@media screen and (max-width: 1024px) {
  .cs-game .heading-one,
  .play-slots .heading-one {
    font-size: 30px;
  }
}
@media screen and (max-width: 991px) {
  .cs-game .heading-one,
  .play-slots .heading-one {
    font-size: 28px;
  }
  .main-game-container {
    gap: 25px;
  }
  .game-container {
    padding: 30px 0px;
  }
  .tabs-page {
    gap: 30px;
  }
  .main-promotions {
    gap: 25px;
  }
  .pro-img-box {
    flex: 0 0 160px;
  }
  .pro-card-content {
    padding: 20px 12px;
  }
  .slots-content {
    gap: 20px;
  }
  .tabs-page-wrapper {
    gap: 25px;
  }
}
@media screen and (max-width: 768px) {
  .cs-game .heading-one,
  .play-slots .heading-one {
    font-size: 25px;
  }
  .game-container {
    padding: 25px 0px;
  }
  .main-game-container {
    gap: 20px;
  }
  .game-container .tab img {
    max-width: 14px;
  }
  .tabs-page {
    gap: 25px;
  }
  .tabs-page-wrapper {
    gap: 20px;
  }
  .provider-list a {
    min-height: 50px;
  }
}
@media screen and (max-width: 575px) {
  .cs-game .heading-one,
  .play-slots .heading-one {
    font-size: 20px;
  }
  .play-slots {
    padding: 25px 0px;
  }
  .slots-content {
    gap: 10px;
  }
  .promotions {
    padding: 20px 0px 10px;
  }
  .main-promotions {
    gap: 20px;
  }
  .providers {
    padding: 20px 0px;
  }
  .game-container {
    padding: 20px 0px 10px;
  }
  .game-container .tab {
    font-size: 12px;
  }
  .tabs-page {
    gap: 20px;
  }
  .heading-left img {
    max-width: 20px;
  }
  .pro-card-content {
    padding: 15px 12px;
  }
  .tab-items {
    gap: 20px;
  }
  .main-providers {
    gap: 15px;
  }
  .play-count {
    margin-top: 5px;
  }
  .pro-img-text h2 {
    font-size: 45px;
  }
  .pro-img-text h2::after {
    font-size: 14px;
  }
  .pro-img-text {
    left: 14px;
    bottom: 15px;
  }
  .pro-img-text p {
    font-size: 10px;
  }

  .slots-content {
    column-count: 1;
  }
}
@media screen and (max-width: 425px) {
  .slots-content p + p {
    margin-top: 10px;
  }
  .cs-game .heading-one,
  .play-slots .heading-one {
    font-size: 18px;
  }
  .pro-img-box {
    flex: 0 0 135px;
  }
  .cs-game {
    padding: 14px 0px;
  }
  .play-count p {
    padding-left: 15px;
  }
  .card-title {
    font-size: 12px;
  }
  .pro-img-text h2 {
    font-size: 40px;
  }
  .pro-img-text h2::after {
    font-size: 12px;
  }
  .heading-box span {
    font-size: 12px;
    padding-right: 15px;
  }
  .heading-box span::after {
    width: 6px;
    height: 6px;
    top: 6px;
  }
}
@media screen and (max-width: 375px) {
  .heading-3 {
    font-size: 15px;
  }
  .heading-4,
  .heading-5 {
    font-size: 11px;
  }
  .text {
    margin-bottom: 8px;
  }
  .pro-card-content {
    padding: 6px;
  }
  .pro-img-text h2 {
    font-size: 35px;
  }
  .text p {
    font-size: 11px;
    line-height: 1.4;
  }
  .pro-img-text h2::after {
    font-size: 10px;
  }
  .pro-img-text p {
    font-size: 10px;
    line-height: 1.1;
  }
  .pro-img-text {
    left: 8px;
    bottom: 15px;
  }
  .heading-box {
    align-items: center;
  }
  .heading-left {
    gap: 5px;
  }
}
